<h1>New Comment</h1>
<br>
<%= form_with model: @comment, format: :html, url: user_post_comments_path do |form| %>
<% if @comment.errors.any? %>
    <% @comment.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
<% end %>
<div class="comment-text">
    <%= form.label :text %> <br>
    <%= form.text_field :text %>
</div> 
<%= form.submit %>
<% end %>