<header>
    <%= stylesheet_link_tag 'posts_show' %>
</header>

<section class="main-post">
    <div class="post-container">
        <div class="post-info-container">
            <div class="post-info">Post #<%= @post.id %> by <%= @post.author.name %></div>
            <div class="post-comments-likes">Comments: <%= @post.comments.count %> Likes: <%= @post.likes.count %></div>
        </div>
        
        <div class="post-text"><%= @post.text %></div>
    </div>
    <% if @post.comments.present? %>
    <div class="post-comment-section">
        <% @post.comments.each do |comment| %>
        <div class="comment"><%= comment.user.name %>: <%= comment.text%></div>
        <% end %>
    </div>
    <% end %>
    <% if can? :destroy, @post %>
    <%= button_to "Delete post", user_post_path(user_id: @post.author.id, post_id: @post.id), method: :delete, class: "btn"  %>
    <% end %>
</section>